*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red
}
.slider{
    position: relative;
    width: 60%;
    overflow: hidden;
}
.images{
    display: flex;
    width: 100%;
}
.images img{
    height: 600px;
    min-width: 100%;
    transition: 0.15s all ease;
}
.images input{
    display: none;
}
.dots{
    display: flex;
    justify-content: center;
    margin: 5px;
}
.dots label{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 3px solid #fff;
    cursor: pointer;
    transition: 0.15s all ease;
    margin: 5px;
}
dots label :hover{
    background:  red ;
}
#img1:checked ~ .m1{
    margin-left: 0;
}
#img2:checked ~ .m2{
    margin-left: -100%;
}
#img3:checked ~ .m3{
    margin-left:-200%;
}
#img4:checked ~ .m4{
    margin-left: -300%;
}



